include LICENSE
include README.rst
include CHANGELOG.
recursive-include django_q/locale *
include django_q/management/*.py
include django_q/management/commands/*.py
include django_q/migrations/*.py
include django_q/brokers/*.py
include django_q/tests/*.py
